section.banner {
	/*margin-top: 4em;
	height: 14em;
	position: relative;
	z-index: 5; */

	height: 14em;
	background: #000;
	width: 100%;
	position: relative;
	margin: 0 auto;
	z-index: 25;
	overflow: hidden;

	.bannerOverlay {
		width: 13em;
		height: 4em;
		position: absolute;
		padding: 0.75em;
		bottom: 30%;
		left: 0;
		background: #000; /* the fallback */
		background: rgba(00, 00, 00, 0.65);
		line-height: 1.5em;
		z-index: 45;

	div:first-of-type {
		color: #fff;
		@include nexaBold(1.5em);
	}
	.bookingList {
		display: none;
		color: #fff;
		list-style-type: bullet;
		@include mensch(1em);
	}
	.bookingList li {
		@include transition(text-indent 0.3s ease, color 0.3s ease);
	}
	.bookingList li:hover {
		text-indent: 0.25em;
		color: #bbb;
	}
	.bookingList li:before{
		content: ' ';
		height: 1em;
		width: 2em;
		background: url('../img/bullet-point.png') 1em 0 no-repeat;
		position: relative;
		margin-top: 0.4em;
		float: left;
	}
	div:nth-of-type(2) {
		color: #fff;
		@include nexaLight(1em);
		position: absolute;
		bottom: 5px;
	}
	}

}