/* line 17, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -- VARIABLES & MIXINS --*/
/* -- GENERAL STYLES -- */
/* line 62, ../sass/styles.scss */
*, html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 760px) {
  /* line 62, ../sass/styles.scss */
  *, html, body {
    font-size: 0.9em;
  }
}
@media only screen and (min-device-width: 761px) and (max-device-width: 800px) {
  /* line 62, ../sass/styles.scss */
  *, html, body {
    font-size: 1.1em;
  }
}

/* line 74, ../sass/styles.scss */
body {
  background: url("../img/subtle_dots.png") repeat;
}

/* line 77, ../sass/styles.scss */
h2 {
  text-align: center;
  color: #fff;
  font-family: "nexaBoldRegular", arial;
  font-weight: 100;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 2px;
  text-shadow: 1px 2px 0px #646464;
  overflow: hidden;
}

/* line 85, ../sass/styles.scss */
h3 {
  font-family: "wisdomScriptAiRegular", arial;
  font-weight: 100;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  color: #212121;
}

/* line 89, ../sass/styles.scss */
p {
  font-family: "plantinLight", times new roman;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.4em;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 760px) {
  /* line 89, ../sass/styles.scss */
  p {
    font-size: 1em;
  }
}

/* line 97, ../sass/styles.scss */
.pageWrapper {
  width: 100%;
  overflow: hidden;
}

/* line 101, ../sass/styles.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 105, ../sass/styles.scss */
header {
  height: 4em;
  background: #212121;
  -webkit-box-shadow: 0px 2px 6px black;
  -moz-box-shadow: 0px 2px 6px black;
  box-shadow: 0px 2px 6px black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

/* line 116, ../sass/styles.scss */
.logo {
  height: 8.5em;
  width: 10em;
  position: absolute;
  z-index: 80;
  left: 10%;
  background: url("../img/footer-bg.jpg") repeat;
  box-shadow: inset 0px 0px 30px black;
}
/* line 125, ../sass/styles.scss */
.logo img {
  height: 100px;
  width: 100px;
  margin-left: 29px;
  margin-top: 5px;
}
/* line 132, ../sass/styles.scss */
.logo h3 {
  color: white;
  font-size: 1em;
  text-align: center;
}
/* line 138, ../sass/styles.scss */
.logo :before {
  content: ' ';
  z-index: 70;
  position: absolute;
  top: 0;
  left: 0;
  height: 8.5em;
  width: 10em;
  box-shadow: 0px 0px 7px 7px black;
}

/* line 149, ../sass/styles.scss */
nav.main {
  height: 4em;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 149, ../sass/styles.scss */
  nav.main {
    width: 40%;
    float: right;
    margin-right: 10%;
  }
}
/* line 158, ../sass/styles.scss */
nav.main ul {
  height: 4em;
}
/* line 161, ../sass/styles.scss */
nav.main li {
  display: inline-block;
  width: 25%;
  height: 100%;
  text-align: center;
  float: left;
  font-family: "menschRegular", arial;
  font-weight: 100;
  color: #fff;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  font-smooth: never;
  position: relative;
  line-height: 2.75em;
  padding-left: 2em;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 161, ../sass/styles.scss */
  nav.main li {
    font-size: 1.25em;
    line-height: 3em;
  }
}

/* line 183, ../sass/styles.scss */
.navLineTop {
  width: 2px;
  margin-left: 1px;
  height: 0em;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 15;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 183, ../sass/styles.scss */
  .navLineTop {
    margin-left: 2em;
  }
}

/* line 197, ../sass/styles.scss */
.navLineBottom {
  width: 2px;
  margin-left: 1px;
  height: 0em;
  background: #fff;
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 15;
}

/* line 207, ../sass/styles.scss */
.bannerContainer {
  width: 100%;
  height: 14em;
  margin-top: 4em;
}
@media only screen and (min-device-width: 761px) and (max-device-width: 800px) {
  /* line 207, ../sass/styles.scss */
  .bannerContainer {
    height: 12em;
    margin-top: 3.8em;
  }
}

/* line 217, ../sass/styles.scss */
section.banner {
  /*margin-top: 4em;
  height: 14em;
  position: relative;
  z-index: 5; */
  height: 14em;
  background: #000;
  width: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 25;
  overflow: hidden;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 217, ../sass/styles.scss */
  section.banner {
    height: 20em;
  }
}
/* line 235, ../sass/styles.scss */
section.banner .bannerOverlay {
  width: 13em;
  height: 4em;
  position: absolute;
  padding: 0.75em;
  bottom: 30%;
  left: 0;
  background: #000;
  /* the fallback */
  background: rgba(0, 0, 0, 0.65);
  line-height: 1.5em;
  z-index: 45;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 235, ../sass/styles.scss */
  section.banner .bannerOverlay {
    padding: 0.75em 0.75em 0.75em 0em;
    margin-left: 10%;
  }
}
/* line 253, ../sass/styles.scss */
section.banner .bannerOverlay div:first-of-type {
  color: #fff;
  font-family: "nexaBoldRegular", arial;
  font-weight: 100;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
}
/* line 257, ../sass/styles.scss */
section.banner .bannerOverlay .bookingList {
  display: none;
  color: #fff;
  list-style-type: bullet;
  font-family: "menschRegular", arial;
  font-weight: 100;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}
/* line 263, ../sass/styles.scss */
section.banner .bannerOverlay .bookingList li {
  -webkit-transition: text-indent 0.3s ease, color 0.3s ease;
  -moz-transition: text-indent 0.3s ease, color 0.3s ease;
  -o-transition: text-indent 0.3s ease, color 0.3s ease;
  transition: text-indent 0.3s ease, color 0.3s ease;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 760px) {
  /* line 263, ../sass/styles.scss */
  section.banner .bannerOverlay .bookingList li {
    font-size: 0.75em;
    padding: 0em;
    line-height: 1.3em;
  }
}
/* line 272, ../sass/styles.scss */
section.banner .bannerOverlay .bookingList li:hover {
  text-indent: 0.25em;
  color: #bbb;
}
/* line 276, ../sass/styles.scss */
section.banner .bannerOverlay .bookingList li:before {
  content: ' ';
  height: 1em;
  width: 2em;
  background: url("../img/bullet-point.png") 1em 0 no-repeat;
  position: relative;
  margin-top: 0.4em;
  float: left;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 760px) {
  /* line 276, ../sass/styles.scss */
  section.banner .bannerOverlay .bookingList li:before {
    display: none;
  }
}
/* line 289, ../sass/styles.scss */
section.banner .bannerOverlay div:nth-of-type(2) {
  color: #fff;
  font-family: "nexaLightRegular", arial;
  font-weight: 100;
  font-size: 1em;
  position: absolute;
  bottom: 5px;
}

/* line 300, ../sass/styles.scss */
.one, .two, .three {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -350px;
}

/* line 307, ../sass/styles.scss */
.one {
  background: url("../img/banner-alice-mobile.jpg") 50% 50% no-repeat;
  width: 700px;
  height: 14em;
  z-index: 200;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 307, ../sass/styles.scss */
  .one {
    background: url("../img/banner-alice-desktop.jpg" 50% 50% no-repeat) !important;
    width: 1400px;
    height: 20em;
  }
}

/* line 321, ../sass/styles.scss */
.two {
  background: url("../img/banner-jason-mobile.jpg") 50% 50% no-repeat;
  width: 700px;
  height: 14em;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 321, ../sass/styles.scss */
  .two {
    background: url("../img/banner-jason-desktop.jpg" 50% 50%) no-repeat;
  }
}

/* line 333, ../sass/styles.scss */
.three {
  background: url("../img/mobile-banner-girls.jpg") 50% 50% no-repeat;
  width: 700px;
  height: 14em;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 333, ../sass/styles.scss */
  .three {
    background: url("../img/bad-girls-groove-band-desktop.jpg" 50% 50%) no-repeat;
  }
}

/* line 345, ../sass/styles.scss */
.currentSL {
  z-index: 20;
}

/* line 349, ../sass/styles.scss */
.nextSL {
  z-index: 15;
}

/* line 353, ../sass/styles.scss */
.hiddenSL {
  z-index: 10;
}

/* line 357, ../sass/styles.scss */
.socialIcons {
  position: relative;
  top: 80%;
  left: 0.3em;
  height: 2.5em;
  width: 8em;
  z-index: 70;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 357, ../sass/styles.scss */
  .socialIcons {
    left: 10%;
    margin-left: 0;
  }
}
/* line 370, ../sass/styles.scss */
.socialIcons .twitter {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 370, ../sass/styles.scss */
  .socialIcons .twitter {
    left: 0;
  }
}
/* line 379, ../sass/styles.scss */
.socialIcons .facebook {
  position: absolute;
  top: 0.5em;
  left: 3.5em;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 379, ../sass/styles.scss */
  .socialIcons .facebook {
    left: 3em;
  }
}

/* line 390, ../sass/styles.scss */
div.textRotator {
  height: 4em;
  background: #212121;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  width: 100%;
  z-index: 10;
  line-height: 4em;
}
@media only screen and (min-width: 750px) and (max-width: 2000px) {
  /* line 390, ../sass/styles.scss */
  div.textRotator {
    width: 80%;
    margin: 0 auto;
  }
}
/* line 404, ../sass/styles.scss */
div.textRotator p {
  text-align: center;
  color: #fff;
  font-family: "nexaBoldRegular", arial;
  font-weight: 100;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  line-height: 2em;
  letter-spacing: 2px;
  text-shadow: 1px 2px 0px #646464;
  margin-left: -5em;
  overflow: hidden;
}
/* line 414, ../sass/styles.scss */
div.textRotator h2 {
  text-align: center;
  color: #fff;
  font-family: "nexaBoldRegular", arial;
  font-weight: 100;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 2px;
  text-shadow: 1px 2px 0px #646464;
  overflow: hidden;
}
/* line 422, ../sass/styles.scss */
div.textRotator span {
  position: absolute;
}

/* line 427, ../sass/styles.scss */
section.mainContent {
  width: 80%;
  background: url("../img/main-texture.jpg") repeat;
  position: relative;
  margin: 0 auto;
  z-index: 5;
  -webkit-box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.3);
  padding-top: 2em;
  padding-bottom: 2em;
}

/* line 437, ../sass/styles.scss */
.colRight, .colLeft {
  font-family: "plantinLight", times new roman;
  font-weight: 100;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 1em;
  display: block;
}

/* line 445, ../sass/styles.scss */
.liveDates {
  height: 15em;
}

/* line 448, ../sass/styles.scss */
section.liveDates {
  background: url("../img/live-dates-bg.jpg") 50% 0% no-repeat;
}

/* -- FOOTER -- */
/* line 454, ../sass/styles.scss */
footer {
  background: url("../img/footer-bg.jpg") repeat;
  height: 30em;
  padding: 0 10% 0 10%;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 760px) {
  /* line 454, ../sass/styles.scss */
  footer {
    height: 30em;
  }
}
/* line 463, ../sass/styles.scss */
footer h3 {
  text-align: center;
  color: #fff;
  font-family: "wisdomScriptAiRegular", arial;
  font-weight: 100;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 2em;
}

/* line 470, ../sass/styles.scss */
.contactDetails {
  height: 5em;
  width: 50%;
  float: left;
}
/* line 475, ../sass/styles.scss */
.contactDetails ul li {
  color: #c34f4f;
  font-family: "nexaLightRegular", arial;
  font-weight: 100;
  font-size: 1em;
  margin-top: 0.5em;
}
/* line 481, ../sass/styles.scss */
.contactDetails a {
  border-bottom: 1px rgba(255, 255, 255, 0.7) solid;
}

/* line 486, ../sass/styles.scss */
nav.secondaryNav {
  width: 50%;
  float: right;
}
/* line 490, ../sass/styles.scss */
nav.secondaryNav li {
  color: #fff;
  font-family: "menschRegular", arial;
  font-weight: 100;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  text-align: right;
  transition: color 0.3s ease;
  margin-top: 0.5em;
}
/* line 497, ../sass/styles.scss */
nav.secondaryNav li:hover {
  color: #c34f4f;
}

/* line 502, ../sass/styles.scss */
.contactForm {
  font-size: 0.7em;
  width: 100%;
  position: relative;
  margin: 11em auto;
  height: 15em;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 760px) {
  /* line 509, ../sass/styles.scss */
  .contactForm input, .contactForm textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }
}
@media only screen and (min-device-width: 761px) and (max-device-width: 800px) {
  /* line 509, ../sass/styles.scss */
  .contactForm input, .contactForm textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }
}
/* line 521, ../sass/styles.scss */
.contactForm input[type=text] {
  width: 100%;
  display: block;
  margin: 1em 0;
  outline: none;
  background: transparent;
  border: thin white solid;
  height: 2.5em;
  padding: 1em;
  color: #fff;
}
/* line 533, ../sass/styles.scss */
.contactForm textarea {
  width: 100%;
  outline: none;
  background: transparent;
  border: thin white solid;
  height: 12em;
  padding: 1em;
  color: #fff;
  line-height: 1.5em;
}
/* line 544, ../sass/styles.scss */
.contactForm input[type=submit] {
  margin: 1em auto;
  display: block;
  outline: none;
  background: #fff;
  border: none;
  height: 2.5em;
  width: 8em;
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease;
}
/* line 555, ../sass/styles.scss */
.contactForm input[type=submit]:hover {
  background: #c34f4f;
  color: #fff;
}

/* -- TEXT ROTATOR CSS -- */
/* line 566, ../sass/styles.scss */
.current {
  opacity: 1.0;
  z-index: 30;
  background: #212121;
  text-indent: 0.3em;
  border-right: 50px #212121 solid;
}

/* line 573, ../sass/styles.scss */
.next {
  z-index: 25;
  text-indent: 0.3em;
}

/* line 577, ../sass/styles.scss */
.hidden {
  opacity: 0.0;
  z-index: 20;
  text-indent: 0.3em;
}

/* -- HELPERS -- */
/* line 585, ../sass/styles.scss */
img.a {
  z-index: 10;
}

/* line 588, ../sass/styles.scss */
img.b {
  z-index: 5;
}

/* line 591, ../sass/styles.scss */
.mobile {
  display: block;
  color: red;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 760px) {
  /* line 591, ../sass/styles.scss */
  .mobile {
    display: none;
  }
}
@media only screen and (min-device-width: 761px) and (max-device-width: 800px) {
  /* line 591, ../sass/styles.scss */
  .mobile {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  /* line 591, ../sass/styles.scss */
  .mobile {
    display: none;
  }
}
